.centered-image {
    display: block; /* The key step: treats the image as a block element */
    margin-left: auto;
    margin-right: auto; /* This centers a block element */
    width: 30%; /* Optional: set a width */
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

p {
    font-family: "Mountains of Christmas", serif;
    text-align: center;
    font-size: large;
}